/* custom site css */

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
    font-size: 14px;
}

a {
    outline: none;
}

header {
    padding: 55px 0 5px;
}

header .page-title h1 {
    font-size: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.footer .text-muted {
    margin-bottom: 0;
}

body > .container {
    padding: 40px 15px 0;
}

.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

::selection {
    color: #fff;
    background: #6f42c1;
}


nav ul li {
    padding: 8px 10px;
}

nav ul li:hover, nav ul li.active {
    background: rgba(255, 255, 255, 0.1);
}

nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top {
    padding: 0;
}

li.nav-item {
    height: 50px;
}