/public/hot
/storage/*.key
/node_modules
npm-debug.log
/public/storage
/.idea
/.vagrant
Homestead.json
Homestead.yaml
yarn-error.log
/.svn
/public/storage/cache
vendor/.git
vendor/*/test
vendor/*/tests
/_ide_helper.php
/PUSH.SH
/todo.txt
/bootstrap/cache/*
/bootstrap/cache/config.php
/storage/clockwork/
/storage/debugbar/
/.phpstorm.meta.php
/vendor/
database/migrations/
/composer.lock
/resources/views/modules/
push.sh
/public/modules/
/resources/lang/core/.gitkeep
/resources/lang/crud/.gitkeep
/storage/framework/cache/.gitignore
/.env
